{% extends 'base.html' %}
{% block title %}About{% endblock title %} 
{% block body %}
    <div class="cont-about">
        <h1>About PixelVault</h1>
        <p>
            Welcome to PixelVault, your go-to platform for secure image steganography. PixelVault offers an innovative way to hide secret messages within images, ensuring your data remains protected and accessible only to the intended recipient. Our intuitive interface and cutting-edge technology make encryption and decryption seamless and secure.
        </p>
        <br>
        <h2>What is Image Steganography?</h2>
        <p>
            Image steganography is the art of concealing information within digital images. Unlike traditional encryption, which alters the visibility of data, steganography keeps the embedded information hidden, making it indistinguishable to the naked eye. This technique is perfect for secure communication, watermarking, and digital forensics.
        </p>
        <br>
        <h2>Applications of PixelVault</h2>
        <p>
            PixelVault enables secure and creative solutions across various domains:
        </p>
        <ul>
            <li><b>Secure Communication:</b> Hide confidential messages within images for safe sharing.</li>
            <li><b>Digital Watermarking:</b> Protect intellectual property by embedding ownership details in media.</li>
            <li><b>Data Privacy:</b> Ensure sensitive information remains hidden from prying eyes.</li>
            <li><b>Creative Expression:</b> Use steganography for artistic and educational projects.</li>
        </ul>
        <br>
        <h2>Why Choose PixelVault?</h2>
        <p>
            PixelVault combines simplicity, efficiency, and security in a single platform:
        </p>
        <ul>
            <li>User-friendly interface for seamless encoding and decoding of images.</li>
            <li>Robust encryption techniques to safeguard your data.</li>
            <li>Fast processing to handle tasks efficiently.</li>
            <li>Comprehensive support for developers and enthusiasts alike.</li>
        </ul>
        <br>
        <h2>Get in Touch</h2>
        <p>
            <a href="/links">Explore more about us in the Link Section</a>
        </p>
        <h2>Note:</h2><p>This is a Metadata Steganographer. For Pixel-Steganographer <a href="https://github.com/GitHub-AmanBhardwaj/PixelVault-Steganographer/tree/main?tab=readme-ov-file#note" target="_blank">Click Here</a></p>
    </div>
{% endblock body %}
